D://code/games filter=lfs diff=lfs merge=lfs -text
studio/landing/Ashes-of-Nations/maps/мир.json filter=lfs diff=lfs merge=lfs -text
D://code/games filter=lfs diff=lfs merge=lfs -text
studio/landing/Ashes-of-Nations/maps/мир.json filter=lfs diff=lfs merge=lfs -text
**/мир.json filter=lfs diff=lfs merge=lfs -text
downloads/ashes-of-nations-setup-0.1.0.exe filter=lfs diff=lfs merge=lfs -text
downloads/Ashes-of-Nations-android-debug.apk filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
downloads/*.exe filter=lfs diff=lfs merge=lfs -text
