#title{
    font-size: 1.3em;
    font-weight: bold;
    color: #00ce42;
    margin-bottom: 25px;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 206, 66, 0.4);
}

#text{
    font-size: 1.1em;
    line-height: 1.6;
    color: #e0e0e0; /* Светлый текст для контента */
}

.text p {
    margin-bottom: 15px; /* Отступ между абзацами */
}

.text strong {
    color: #00ce42; /* Зеленый для выделенных слов */
}